
body {
    font-family: 'Fira Sans', sans-serif;
    color: #6e7680;
}

.main_bg {
    width: 100%;
    height: auto;
    background: #dbe0ea url("../img/ft-title-header-bg.svg") no-repeat center right;
    background-size: cover;
}

.header_text {
    padding-top: 60px;
    padding-bottom: 60px;
}

.description > h2 {
    font-size: 35px;
    font-weight: 300;
    font-family: "Open Sans", "Fira Sans", "sans-serif";
    margin-bottom: 20px;
    color: #414954;

}

.description p {
    font-family: "Open Sans", "Fira Sans", "sans-serif";
    font-size: 16px;
    font-weight: 400;

}

@media only screen and  (max-width: 768px) {
    .description h2 {
        font-size: 25px;
    }
}

@media only screen and  (max-width: 768px) {
    .description p {
        font-size: 15px;
    }
}

.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 30px;
}

.content .content_block {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content-title {
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.content-title h2 {
    font-family: "Open Sans", "Fira Sans", "sans-serif";
    font-size: 35px;
    color: rgb(65, 73, 84);
    font-weight: 100;
    word-spacing: 3px;
}

.form_content_div {
    margin-top: 40px;
}

.form_content {
    border-radius: 3px;
    border: 1px solid #d5d8dc;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.form_content_row {
    margin-right: -16px;
}

.bg_color {
    background-color: #d8dde3;
}

.pd_col {
    padding-bottom: 20px;
}

.control_color {
    color: #f58d3f;
}

.variation_color {
    color: #3892e3;
}

.header_style {
    padding-top: 20px;
    padding-bottom: 10px;
}

input[type='number'] {
    border: 1px solid #d9dde1;
    border-radius: 3px;
    outline: none;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.control_sm_div {
    display: none;
}

.variation_sm_div {
    display: none;
}

@media (max-width: 991px) {
    .control_div {
        display: none;
    }

    .variation_div {
        display: none;
    }

    .control_sm_div {
        display: block;
    }

    .variation_sm_div {
        display: block;
    }

    .pd_col {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .radius_div_sm {
        margin-top: 20px;
    }

    .result_header_p {
        word-break: break-all;
    }
}

.form_calculate_button {
    text-align: center;
    margin-top: 50px;
}

.calculate_btn {
    color: white;
    background-color: #3892e3;
    padding: 15px 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 12px;
}

.calculate_btn:hover {
    background-color: #1872c3;
    color: white;
}

.result_container:before {
    content: "";
    background: url('../img/L2-down-arrow.png');
    width: 93px;
    height: 39px;
    position: absolute;
    left: calc(50% - 46px);
    z-index: 1;
}

.result_container {
    background-color: #32425b;
    display: none;
}

.result_block {
    padding-top: 100px;
    padding-bottom: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.result_div {
    padding-left: 0;
    padding-right: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.radius_div {
    border-radius: 3px;
    overflow: hidden;
}

.result_header {
    background-color: white;
    padding: 20px 60px 20px 60px;
    text-align: center;
    font-size: 14px;
}

.result_header p {
    color: #3892e3;
    margin: 0;
    font-size: 21px;

}

.result_header_p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.result_header span {
    margin: 0;
    font-size: 12px;
}

.result_value {
    background-color: #d8dde3;
    padding: 30px 50px;
    text-align: center;
    font-size: 14px;
}

.result_value p {
    color: #2b3945;
    font-size: 21px;
    margin-bottom: 0;
}

