{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>A/B split test significance calculator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="main_bg">

    <div class="container">
        <div class="row align-items-center">
            <div class="col header_text">
                <img src="{% static 'img/icon-significance-calc.png' %}" class="logo" alt="">

                <div class="description text-center">

                    <h2>A/B split test significance calculator</h2>

                    <p>Get comprehensive insights about testing, optimization, UX, design, and more.</p>
                </div>
            </div>

        </div>
    </div>

</div> <!-- End Header  -->

<div class="content">

    <div class="container">
        <div class="row content_block">
            <div class="col-12">
                <div class="row text-center">
                    <div class="content-title">
                        <h2>Are your results significant?</h2>
                    </div>
                </div>
                <div class="row text-center form_content_div">
                    <div class="col-12 form_content">
                        <div class="row form_content_row">
                            <div class="col-lg-4 offset-lg-4  bg_color pd_col control_color header_style control_div">
                                Control
                            </div>
                            <div class="col-lg-4 bg_color pd_col variation_color header_style variation_div">Variation
                            </div>
                        </div>
                        <div class="row form_content_row">
                            <div class="col-lg-4 pd_col">Number of Visitors</div>
                            <div class="col-lg-4 offset-lg-4  bg_color pd_col control_color header_style control_sm_div">
                                Control
                            </div>
                            <div class="col-lg-4 bg_color pd_col"><input type="number" id="id_control_visitors"></div>
                            <div class="col-lg-4 bg_color pd_col variation_color header_style variation_sm_div">
                                Variation
                            </div>
                            <div class="col-lg-4 bg_color pd_col"><input type="number" id="id_variation_visitors"></div>
                        </div>
                        <div class="row form_content_row">
                            <div class="col-lg-4 pd_col">Number of Conversions</div>
                            <div class="col-lg-4 offset-lg-4  bg_color pd_col control_color header_style control_sm_div">
                                Control
                            </div>
                            <div class="col-lg-4 bg_color pd_col"><input type="number" id="id_control_conversions">
                            </div>
                            <div class="col-lg-4 bg_color pd_col variation_color header_style variation_sm_div">
                                Variation
                            </div>
                            <div class="col-lg-4 bg_color pd_col"><input type="number" id="id_variation_conversions">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form_calculate_button">
                    <a href='javascript:void(0);' class="btn calculate_btn" id="calculate_btn">Calculate
                        Significance </a>
                </div>

            </div>
        </div>


    </div>

    <div class="container-fluid result_container" id="result_container">
        <div class="row result_block">
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-lg-5 result_div radius_div">
                        <div class="result_header">
                            <p>P-Value</p>
                            <span>(Range from 0-1)</span>
                        </div>
                        <div class="result_value">
                            <p id="id_p_value">0</p>
                        </div>
                    </div>

                    <div class="col-lg-5 result_div radius_div radius_div_sm">
                        <div class="result_header">
                            <p class="result_header_p">Significance</p>
                        </div>
                        <div class="result_value">
                            <p id="id_significance">Yes!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- End Content  -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

<script type="application/javascript">
    $(document).ready(function () {

        $('#calculate_btn').on('click', function () {
            var $data = {};
            var result_container = $('#result_container');
            $('.form_content_div').find('input').each(function () {
                // Check if there is an empty field
                if (!$(this).val()) {
                    alert('Please enter numbers in all control and variation fields');
                    if (result_container.is(":visible")) {
                        result_container.slideUp('slow')
                    }
                    $data = {};
                    return false

                }
                else {
                    $data[$(this).prop('id')] = $(this).val();

                }
            });

            var dataLen = $.map($data, function (n, i) {
                return i;
            }).length;

            if (dataLen > 0 && $data['id_control_visitors'] < 15) {
                alert("There must be at least 15 control trials for this tool to produce any results.");
                if (result_container.is(":visible")) {
                    result_container.slideUp('slow')
                }
            }

            else if (dataLen > 0 && $data['id_variation_visitors'] < 15) {
                alert("There must be at least 15 variation trials for this tool to produce any results.");
                if (result_container.is(":visible")) {
                    result_container.slideUp('slow')
                }
            }

            else if (dataLen > 0) {
                // All data are clean let's perform AJAX GET request
                $.ajax({
                            url: "{% url 'significance_calculator' %}",
                            data: {
                                'id_control_visitors': $data['id_control_visitors'],
                                'id_variation_visitors': $data['id_variation_visitors'],
                                'id_control_conversions': $data['id_control_conversions'],
                                'id_variation_conversions': $data['id_variation_conversions']
                            }
                        })
                        .done(function (data) {
                            // Display data returned by Django
                            data = JSON.parse(data);
                            if (data["p_value"] === null) {
                                data["p_value"] = parseInt(data["p_value"]);
                                $('#id_p_value').html(data['p_value'].toString());
                            }
                            else {
                                $('#id_p_value').html(data['p_value']);
                            }

                            $('#id_significance').html(data['significance']);
                            result_container.slideDown("slow")
                        })
                        .fail(function () {
                            alert("error");
                            if (result_container.is(":visible")) {
                                result_container.slideUp('slow')
                            }
                        });
            }
        });


    })
</script>

</body>
</html>
